.bg
{
  /* border: 5px solid rebeccapurple; */
  padding: 5px;
  margin: 10px;
  /* background-color: darkgrey; */
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%;
  height: 100%;
  /* width:20%; */
}
.text-right {
  padding: 10px;
  margin: 10px;
}

