<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" class="align-center">
  <div class="form-group">
    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" 
    [ngClass]=" {'is-invalid' :registerForm.get('firstName').touched && registerForm.get('firstName').invalid}">
    <div class="invalid-feedback">
      <div> firstName is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
    [ngClass]=" {'is-invalid' :registerForm.get('lastName').touched && registerForm.get('lastName').invalid}">
    <div class="invalid-feedback">
      <div> lastName is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="userName" placeholder="User Name" 
    [ngClass]=" {'is-invalid' :registerForm.get('userName').touched && registerForm.get('userName').invalid}">
    <div class="invalid-feedback">
      <div> userName is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="password" placeholder="Password" 
    [ngClass]=" {'is-invalid' :registerForm.get('password').touched && registerForm.get('password').invalid}">
    <div class="invalid-feedback">
      <div> password is required</div>
    </div>
  </div>
  <small id="passwordHelpBlock" class="form-text text-muted">
    Your password must be 8-20 characters long, contain letters, numbers and special characters.
  </small>

  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">SignUp</button>
  <!--<button mat-raised-button color="primary" routerLink="/login">SignUp</button>-->
  <!--<a routerLink="/register" routerLinkActive="active" class="btn btn-primary" role="button">Sing Up</a>-->
</form>