<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input matInput
             type="email"
             name="email"
             #emailInput="ngModel"
             ngModel
             placeholder="E-mail"
             required
             email
             floating>
      <mat-error *ngIf="emailInput.invalid">'email is required'</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="password"
             name="password"
             ngModel
             #passwordInput="ngModel"
             placeholder="Password"
             required
             floating>
      <mat-error *ngIf="passwordInput.invalid">'enter valid password'</mat-error>
    </mat-form-field>
    <hr>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
