<br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<br>
<p>Like
  <button class="btn btn-info btn-lg" (click)="onlike()">
    <span class="glyphicon glyphicon-thumbs-up"></span> Like
  </button>
</p>
<h5> {{like}} </h5>

<br>
<p>DisLike
  <button class="btn btn-info btn-lg" (click)="ondislike()">
    <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
  </button>
</p>
<h5> {{dislike}}</h5>



<!--<p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>-->
